@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Inter&family=Lora&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: var(--font), var(--text);
}

[data-color-mode="light"] {
  --common-text: #2D2D2D;
  --moon-color: #757575;
  --bg-color: #FFFFFF;
}

[data-color-mode="dark"] {
  --common-text: #FFFFFF;
  --moon-color: #A445ED;
  --bg-color: #050505;
}

[text-mode="Sans Serif"] {
  --font: 'Inter';
  --text: 'sans-serif';
}
[text-mode="Mono"] {
  --font: 'Inconsolata';
  --text: 'mono';
}
[text-mode="Serif"] {
  --font: 'Lora';
  --text: 'serif';
}